@import '../../../styles';

.Home-header {
  height: 100vh;
  color: #fff;
  background-color: mat-color($primary);

  .flex-container {
    width: 100%;
    display: flex;
    justify-content: center;

    h1  {
      font-size: 10vw;
      flex: 0 0;
      height: 10vw;
      margin-top: 40vh;
    }

    p {
      text-align: center;
      flex: 1 0;
    }
  }
}

.Home-body {
  background-color: mat-color($primary);
  color: #fff;
  display: flex;
  flex-flow: nowrap row;
}

.Home-list {
  flex: 1 0;

  @media(min-width: 600px) {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  @media(max-width: 600px) {
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  mat-list-item {
    div {
      color: #fff;
    }

    .Home-listHeader {
      font-weight: bold;
      word-wrap: break-word !important;
      white-space: pre-wrap !important;
    }

    .Home-listValue {
      padding-left: 5px;
    }

    &.pointer:hover {
      background-color: mat-color($primary, 600);
    }
  }
}

a {
  color: #fff;
}

.Home-description {
  flex: 1 0;
  padding: 5px;

  @media(min-width: 600px) {
    width: 54vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  @media(max-width: 600px) {
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

.pointer {
  cursor: pointer;
}
