<div class="Home-header">
  <div class="flex-container">
    <h1>{{ Math.floor(estimatedInfectedOnDate) | number:'.0' }}</h1>
  </div>

  <div class="flex-container">
    <p>estimated number of infected in {{ region }}</p>
  </div>
</div>

<div class="Home-body">
  <mat-list class="Home-list">
    <ng-container *ngFor="let contentItem of tiles">
      <mat-list-item [class.pointer]="!!contentItem.description"
      (click)="!!contentItem.description ? contentItem.active = !contentItem.active : ''">
        <div class="Home-listHeader" mat-line>
          {{ contentItem.header }}<span *ngIf="!!contentItem.description">*</span>
        </div>
        <div class="Home-listValue" mat-line> {{ contentItem.value }}</div>
      </mat-list-item>
      <div class="Home-description" *ngIf="contentItem.active">
        <div [innerHTML]="getDescription(contentItem.description)"></div>
        <ng-container *ngIf="!!contentItem.references">
          <br/>
          <p *ngFor="let reference of contentItem.references; let i = index"><small>{{ i + 1 }}: <a [href]="reference.link">{{ reference.name }}</a></small></p>
        </ng-container>
      </div>
    </ng-container>
  </mat-list>
</div>
